name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: unbounded-tech/actions/crossplane-publish@main
        with:
          tag: ${{ github.ref_name }}
          ghcr-token: ${{ secrets.GHCR_TOKEN }}
